<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="false" android:usesCleartextTraffic="false" android:label="Best Nikah Bridge" android:supportsRtl="true" android:theme="@style/Theme.NikahBridge">
        <activity android:name=".ConversationHealthActivity" android:exported="false" />
        <activity android:name=".NikahJourneyActivity" android:exported="false" />
        <activity android:name=".SmartSeriousQuestionsActivity" android:exported="false" />
        <activity android:name=".NikahAssistantActivity" android:exported="false" />
        <activity android:name=".CompatibilityDealBreakerActivity" android:exported="false" />
        <activity android:name=".SafeCommunicationActivity" android:exported="false" />
        <activity android:name=".FamilyBridge2Activity" android:exported="false" />
        <activity android:name=".TrustPassportActivity" android:exported="false" />
        <activity android:name=".CompatibilityTrafficLightActivity" android:exported="false" />
        <activity android:name=".WhyWeMatchedActivity" android:exported="false" />
        <activity android:name=".NikahIntelligenceActivity" android:exported="false" />
        <activity android:name=".OwnerEarningsActivity" android:exported="false" />
        <activity android:name=".WalletActivity" android:exported="false" />
        <activity android:name=".ProductionCompletionActivity" android:exported="false" />
        <activity android:name=".ProfilePhotoActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductionMainActivity" android:exported="false" />
    </application>
</manifest>